html, body {
    height: 100%;
    
    

}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-image: url("background.gif");
}

a:link {
  color: light-red;
}

a:visited {
  color: light-green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: light-blue;
}
