html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: table-cell;
    vertical-align: middle;
    background-image: "background.gif";
    
}
